<style>

* {
  padding: 0;
  margin: 0;
}

body {
  height: 100%;
  width: 100%;
  font-family: 'Poppins', sans-serif;
  font-weight: 400;
  line-height: 1.4;
}

h1{
  font-family: 'Raleway', sans-serif;
  font-weight: 700;
  text-align: center;
}

h2 {
  font-family: 'Raleway', sans-serif;
  font-size:18px;
  font-weight:bold;
}

h3 {
  font-family: 'Raleway', sans-serif;
  font-size: 28px;
}

h4 {
  font-family: 'Raleway', sans-serif;
  font-size: 22px;
  font-weight:bold;
}

p {
  font-size: 16px;
  font-style: italic;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

img {
  display: block;
  width: 100%;
}

         /*this is navigation section*/
.nav {
  display: flex;
  justify-content: flex-end;
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  background:#546c8c;
  z-index: 10;
  color:white;
}

.nav-list {
  display: flex;
  margin-right: 25px;
  color:white;
}

.nav-list ul{
  color:white;
}

.nav-list a {
  display: block;
  font-size: 30px;
  padding:0 20px;
  color:white;
}

.nav-list a:hover {
  color:#FFB471;
}

@media (max-width:425px) {
.nav {
  flex-direction:column;}
.nav-list {
    align-self:center;
  }
  .nav-list a{
    font-size:80%;
  }
}
@media (max-width:800px) {
.nav {
  flex-direction:column;}
.nav-list {
    align-self:left;
  }
  .nav-list a{
    font-size:90%;
  }
}
/*navigation ends*/
            /*This is welcome setion*/

.welcome-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  width: 100%;
  height: 100vh;
  background-image: url(image/topimageblue.jpeg);
  background-repeat: no-repeat;
  background-size:cover;
  line-height: 20px;
}


.IDphoto {
  border-radius: 50%;
  height: 150px;
  width: 150px;
  margin-top: 30px;
  box-shadow: 5px 5px 12px gray;
  padding: 3px;
}

.namecontainer {
  text-align: center;
}

.name{
  font-size:60px;
  color:black;
  font-family: 'Acme', sans-serif;
}

.motto{
  font-size:16px;
  color:black;
  font-style:italic;
  line-height:5px;
}

@media (max-width:425px) {
.name {
   font-size: 28px;
  }
}
@media (max-width:800px) {
.name {
   font-size: 28px;
  }
.welcome-section {
    width: 500px;
    height: 600px;
  }
}

/*Welcom section ends*/
           /*This is CV setion*/

.cv-section {
 text-align: center;
}

        /*This is education setion*/

.education-section{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background:#d1dddb;
 color:#023459;
}

.section-header{
  max-width: 640px;
  margin:30px;
  border-bottom: 0.2rem;
}

.educontainer {
  width:1000px;
  height:500px;
  margin: 10px, 50px, 50px, 70px;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  text-align: center;
}

.eduboxA {
  width:50%;
  height: 80%;
  display: flex;
  justify-content: center;
  align-items:center;
  text-align:center;
  margin-left:50px;
  margin-right:50px;
  background-image:url(image/bfsulogo.png);
  background-size:cover;
}

.eduboxB {
  width:50%;
  height:80%;
  display: flex;
  justify-content:center;
  align-items:center;
  text-align:center;
  margin-right:50px;
  margin-left:50px;
  background-image:url(image/tclogo.png);
  background-size:cover;
}

.edubox1 {
  width: 80%;
  height:80%;
  align-self:center;
  text-align:center;
  padding-top:50px;
}


.edudivide {
  float: left;
  width: 1px;
  height: 300px;
  background: #1D6A96;
}

@media (max-width:425px) {

.educontainer {
  flex-direction:column;
  height:200%;
}

.edudivide{
  display:none;}

.eduboxA{
  background-image:none;
  font-size:60%;
}

.eduboxB{
  background-image:none;
}
.edubox1{
  font-size:60%;
}
}
@media (max-width:800px) {
.education-section{
 width:500px;
 padding-bottom:50px;
  }
.educontainer {
  flex-direction:column;
  width:600px;
  height:200%;
}

.edudivide{
  display:none;}

.eduboxA{
  background-image:none;
  font-size:80%;
}

.eduboxB{
  background-image:none;
}
.edubox1{
  font-size:80%;
}
}

/*This is Work setion*/
.work-section {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#283B42;
  padding-bottom:80px;
  color:#D1DDDB;
}

.workcontainer {
  width:1200px;
  height: 500px;
  display: flex;
  flex-direction: row;
  justify-content: space-around;
  align-items: center;
  text-align: center;
}

.workboxA {
  width:550px;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.workboxA:hover .workbox2{
  opacity:1;
}

.workboxB {
  width:550px;
  height:500px;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
}

.workboxB:hover .workbox2{
  opacity:1;
}

.workbox1 {
  width:350px;
  justify-content: center;
  align-items: center;
  text-align: center;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
  border-radius: 2px;
  line-height:10px;
}

.workbox2{
  width:550px;
  height:100px;
  justify-content: center;
  align-items: center;
  text-align: center;
  opacity:0;
}


.work-time {
font-size: 16px;
color:#D1DDDB;
}

.work-place {
font-size: 30px;
color:#85B8Cb;
}

.work-title {
font-size: 18px;
}
.work-content {
font-size: 16px;
}

.workdivide {
  float: right;
  width: 1px;
  height: 400px;
  align-self: center;
  background: #D1DDDB;
}

@media (max-width:425px){
.workdivide{
    display:none;}
.workcontainer {
  flex-direction:column;
  font-size:60%;
  justify-content: space-around;
  height:80%}

.work-image {
  display:none;
}
.workbox2 {
  width:60%;
  opacity:1;
  text-align:left;
}
.work-content{
  list-style:initial;
}
}

@media (max-width:800px) {
.work-section{
 width:500px;
 padding-bottom:50px;
  }
.workcontainer {
  flex-direction:column;
  width:600px;
  height:200%;
}
.workbox2 {
  width:60%;
  opacity:1;
  text-align:left;
}
.workboxA{
  padding-top:30px;
}
.workdivide{
  display:none;}

.work-content{
    list-style:initial;
  }
}

/*This is Skill setion*/
.skill-section{
 display: flex;
 flex-direction: column;
 justify-content: center;
 align-items: center;
 text-align: center;
 background:#12406A;
 color:#DBDBE5;
}

.skillcontainer {
  width:1000px;
  height:400px;
  display: flex;
  flex-direction: row;
  justify-content:center;
  align-items: center;
  text-align: center;
  margin-bottom:80px;
}

.skillboxA {
  width:500px;
  height: 300px;
  display: flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align:center;

}

.skillboxB {
  width:500px;
  height:300px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.skillbox1 {
  width: 400px;
  height: 100px;
  align-self:center;
  text-align:center;
  line-height:30px;
  font-size:24px;
}

.skillbox2 {
  width: 400px;
  height:200px;
  display:flex;
  justify-content: center;
  align-items:center;
  text-align:center;
}

.skilldivide {
  float: left;
  width: 1px;
  height: 300px;
  background: #DBDBE5;
}
.skills ul{
  display:block;
}

.skills li{
  list-style:none;
  font-size:20px;
  display:inline;
}

@media (max-width:425px){
.skilldivide{
    display:none;}

.skillcontainer {
  flex-direction:column;
  font-size:60%;
  justify-content: space-around;
  height:200%}

}
@media (max-width:800px) {
.skill-section{
 width:500px;
 padding-bottom:50px;
  }
.skillcontainer {
  flex-direction:column;
  width:600px;
  height:200%;
}

.skilldivide{
  display:none;}

}

/*This is Contact setion*/
.contact-section {
  display:flex;
  justify-content: center;
  align-items: center;
  text-align: center;
  background:#6c838B;
}

.contactcontainer {
  width:1200px;
  height:500px;
  display:flex;
  flex-direction:row-reverse;
  justify-content: space-around;
  align-items: center;
  text-align: center;

}

.contactboxA{
  width:600px;
  height:400px;
  display:flex;
  flex-direction:column;
  justify-content: center;
  align-items: center;
  text-align: left;
}

.contactheader{
  width:600px;
  text-align:center;
}
.contactheader h2{
  font-size:46px;
  color:#FFB471;
}

.contactinfo {
  width:300px;
}

.contactinfo h3{
  font-size: 18px;
  font-weight: bold;
  text-align: left;
  line-height: 25px;
  color:black;
}

.contactboxB{
  width:500px;
  height:400px;
}

.contactimage{
  size:cover;
  box-shadow: 0px 10px 20px rgba(0, 0, 0, 0.19), 0px 6px 6px rgba(0, 0, 0, 0.23);
}

.sociallink {
  color:black;
}

.sociallink ul{
  display:block;
  color:black;
}

.sociallink li{
  list-style:none;
  font-size:25px;
  text-align:left;
  display:inline;
  padding:15px;
  color:black;
}

a:link, a:visited .sociallink{
  color: black;
  text-decoration: none;
}

a:hover, a:active {
  color: #FFB471;
  text-decoration: none;
}

@media (max-width:425px){
.contactboxB{
    display:none;}

.contactcontainer{
  flex-direction:column;
}
.contactboxA {
  flex-direction:column;
  font-size:60%;
  align-self:center;}

}
@media (max-width:800px){
.contact-section{
  width:500px;
}
.contactboxB{
    display:none;}

.contactcontainer{
  flex-direction:column;
}
.contactboxA {
  flex-direction:column;
  font-size:60%;
  align-self:center;}

}
/* This is Footer*/
footer {
  font-weight: 300;
  justify-content: center;
  text-align:center;
  padding: 2rem;
  background: #6c838B;
}

footer > p {
  margin: 2rem;
}

@media (max-width: 425px) {
  footer {
    text-align: center;
  }
}
@media (max-width: 800px) {
  footer {
    text-align: center;
    width:435px;
  }

}
</style>
